.bodypage{
    text-align: center;
    color: white; 
}



.MovieToday{
    color: #fff;
    position: absolute;
    top	: 10px;
    left: 40px;
    font-size: 50px;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
}

.slider {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 60%;
    overflow: hidden;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}

.informations{
    text-align: center;
    padding: 1px;
    font-size: 30px;
    
}

table{
    margin-left: 50%;
    transform: translate(-50%,0%);
    border: 2px solid white;
    font-size: 30px;
    border-collapse: collapse;
}

table td{
    border: 2px solid white;
    border-collapse: collapse;
}

table th {
    background: #f40b03;
    color: white;
    box-shadow: 0 0 0px #f40b03,
                0 0 5px #f40b03,
                0 0 25px #f40303,
                0 0 50px #f40303;

    /*faz um efeito neon */

}


