footer{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px black;
    margin:0px;
    padding: 20px;
    display: block;
    margin-top: 20px;
}

.feedback a{
    color: white;   
}

/* coloca a cor de um link visitado de branco - Paulo Kenji */
.feedback a:visited{
    color: white;   
    
}
/* quando passa o mouse sobre o reclame aqui, ele fica vermelho- Thiago César Souza */
.feedback a:hover{
    color: #f40303;
}
